@model RecycleDevices.Models.ConsultPointViewModel


@{
    ViewData["Title"] = "ConsultPoints";
}


@{
    Layout = "~/Views/Shared/_LayoutCita.cshtml";
}



<h1>Saldo en Puntos</h1>

<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Point)
</dt>

<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Point)
</dd>

<form method="POST" asp-action="GenerateCode">
    <input type="submit" value="Generate Code" />
</form>
<h1>Generated Code:</h1>

<h1>@Model.CodeDiscount</h1>