.union {
    width: 100%;
    height: auto;
    border-top: 2px solid #72C211;
    padding-top: 40px;
    padding-block-end: 0px;
   /* border: 1px solid black;*/
}
.div_image, .row {
    display: inline-block;
    vertical-align: top; /* Ajusta la alineación vertical si es necesario */
    width: 50%; /* Ajusta el ancho de las cajas */
    height: 75vh !important;
    box-sizing: border-box; /* Incluye el borde y el padding en el ancho de las cajas */
    /* border: 1px solid black; */
    padding: 10px; /* Agrega un padding para separar el contenido del borde */
}  

#name_roll, #add_image, #cc_password, #email_confirm, #cel, #botton_add, h4 {
    width: 40vw !important;
    height: 20%;
   /* border: 1px solid black;*/

}
    #name_roll input, #cc_password input, #email_confirm input{
        display: inline-block !important;
        width: 45% !important;
        vertical-align: middle !important;
        margin: 5px !important;
        margin-right: 1.4vw !important;
    }
.image {
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img {
    width: 75%;
    height: 85%;
    border-radius: 50%;
}

 #cel input {
        width: 45%;
        margin: 0 auto
        !important;
    }

#botton_add input {
    background-color: #72C211 !important;
    width: 96.5%;
    margin-top: 4vh;
  
    
}
.row{
    padding-top: 5vw;

}
h4{
    text-align: center;
    padding-bottom: 5vw;
}
