.union {
    width: 100%;
    height: auto;
    border-top: 2px solid #72C211;
    padding-top: 40px;
    padding-block-end: 0px;
   /* border: 1px solid black;*/
}
.div_image, .row {
    display: inline-block;
    vertical-align: top; /* Ajusta la alineación vertical si es necesario */
    width: 50%; /* Ajusta el ancho de las cajas */
    height:75vh !important;
    box-sizing: border-box; /* Incluye el borde y el padding en el ancho de las cajas */
   /* border: 1px solid black; Agrega un borde para visualizar las cajas */
    padding: 10px; /* Agrega un padding para separar el contenido del borde */
}
.div_image {
    border-right: 3px solid #72C211;
}
.div_image img{
  
   width:80%;
   height:70%;
    
}
.image_perfil{
  width: 40vw;
  display: flex;
  justify-content: center;
  /*border: 1px solid black;*/
}
    .image_perfil img {
        
        height: 25vh;
        margin: auto;
       
    }
#name_roll, #add_image, #cc_password, #email_confirm, #cel, #botton_add {
    width: 40vw !important;
    height: 20%;
   /* border: 1px solid black;*/

}
    #name_roll input, #cc_password input, #email_confirm input{
        display: inline-block !important;
        width: 45% !important;
        vertical-align: middle !important;
        margin: 5px !important;
        margin-right: 1.4vw !important;
    }
#add_image{
    display: flex;
    justify-content: center;
}
#add_image input {
        width: 60%;
        background-color: #24C238;
        margin-block-end: 3vh;
        margin: auto;
    }
 #cel input {
        width: 45%;
        margin: 0 auto
        !important;
    }

#botton_add input {
    background-color: #72C211 !important;
    width: 96.5%;
    margin-top: 4vh;
  
    
}
