
@{
    ViewData["Title"] = "Canejar Puntos";
}
<div class="container container-titt">
    <h3 calss="container-tit" style="text-align:left;">CANJEAR PUNTOS</h3>
</div>
<div class="container container-sub">
    <h5 calss="container-tit" style="text-align:left;">¡Canjea tu codigo de descuento en nuestros aliados!</h5>
</div>

<hr style="margin-botton:0;" />

<div class="contenedor-principal d-flex justify-content-between ">
<div class="contenedor-izquierda">
    <div class="row d-flex justify-content-start ">
        <div class="col-sm-4">
            <div class="card">
                <a href="https://www.exito.com">
                    <img src="https://corfeinco.com.co/wp-content/uploads/2020/07/exito-logo.jpg" class="card-img-top" alt="Descripción de la imagen 1">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Grupo Exito</h5>
                    <p class="card-text">¡Obtén lo máximo de tus compras! Redime tus puntos acumulados en Recycle Devices
                         utilizando tu codigo de descuento en Grupo Exito.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <a href="https://www.falabella.com.co/falabella-co">
                    <img src="https://seeklogo.com/images/F/falabella-logo-2F240D7A62-seeklogo.com.png" class="card-img-top" alt="Descripción de la imagen 2">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Fallabella</h5>
                    <p class="card-text">¡Aprovecha ahora tu código de descuento en Falabella! Obtén un ahorro adicional en
                        tus compras online en nuestra amplia variedad de productos. ¡No pierdas esta oportunidad!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <a href="https://www.olimpica.com">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Olimpical.png" class="card-img-top" alt="Descripción de la imagen 3">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Supermercados Olimpica </h5>
                    <p class="card-text">¡Ahorra en grande en Olímpica! Utiliza tu código de descuento exclusivo para obtener
                        descuentos adicionales en tus compras. ¡No te lo pierdas!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <a href="https://www.dunkincolombia.com">
                    <img src="https://1000logos.net/wp-content/uploads/2017/08/Dunkin-Donuts-emblem.jpg" class="card-img-top" alt="Descripción de la imagen 3">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Dunkin Donuts </h5>
                    <p class="card-text">
                        ¡Disfruta del sabor inigualable de Dunkin' Donuts a un precio más bajo!
                        Utiliza tu código de descuento exclusivo para obtener descuentos en nuestras 
                        deliciosas donas y bebidas.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <a href="https://www.bbccerveceria.com">
                    <img src="https://i.pinimg.com/originals/d6/90/70/d69070b66c3410b76ca52ce436fd5dbb.jpg" class="card-img-top" alt="Descripción de la imagen 3">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Bogota Beer Comapny</h5>
                    <p class="card-text">
                        ¡Es hora de probar algo nuevo! Utiliza tu código de descuento en la
                        cervecería BBC para obtener un descuento en nuestras deliciosas cervezas
                        y platillos.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <a href="https://www.oxxo.co">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Oxxo_Logo.svg/2560px-Oxxo_Logo.svg.png" class="card-img-top" alt="Descripción de la imagen 3">
                </a>
                <div class="card-body">
                    <h5 class="card-title">OXXO</h5>
                    <p class="card-text">
                        ¡Disfruta de la comodidad de hacer tus compras en OXXO! 
                        }Utiliza tu código de descuento para ahorrar en tus productos 
                        favoritos de nuestras tiendas de conveniencia.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <a href="https://tipicasempanadas.com">
                    <img src="https://lirp.cdn-website.com/4b8552c4/dms3rep/multi/opt/tipicas-empanadas_Logo-370x231-640w.jpg" class="card-img-top" alt="Descripción de la imagen 3">
                </a>
                <div class="card-body">
                    <h5 class="card-title">¡Típicas Empanadas!</h5>
                    <p class="card-text">
                        ¡Es hora de redimir! Canjea tu bono de descuento en nuestra tienda ,¡Aprovecha de una Típica Empanada!
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <a href="https://www.starbucks.com.co">
                    <img src="https://cdn.mos.cms.futurecdn.net/8tEvBrHEeMTTBt26SiniHM-1200-80.jpg" class="card-img-top" alt="Descripción de la imagen 3">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Starbucks</h5>
                    <p class="card-text">
                        ¡Celebra tu amor por el café en Starbucks! Utiliza tu codigo de descuento 
                         en tus compras de Starbucks.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <a href="https://crepesywaffles.com">
                    <img src="https://tubono.com/wp-content/uploads/2019/10/CrepesWaffles.png" class="card-img-top" alt="Descripción de la imagen 3">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Creeps And Waffles</h5>
                    <p class="card-text">
                        ¡Ahorra en tus comidas favoritas en Crepes and Waffles! Usa tu codigo de  descuento
                        en tus platillos preferidos,desde crepes salados hasta waffles dulces. ¡Ingresa a nuestra página web y 
                        redime tus puntos ahora mismo!
                    </p>
                </div>
            </div>
        </div>
        </div>
    </div>

</div>
