<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RecycleDevices</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecycleDevices.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
              @*      <img src="@Url.Content("~/images/logo.png")" width="150" height="150" class="img-fluid">*@
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-flex">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="TipsPrevention">Tips prevencion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="AboutUs">Acerca de nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Privacy">Ingresar</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Privacy">Registrarse</a>
                        </li>
                        @*                        <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Client" asp-action="RedeemPoints">CanjearPuntos</a>
                        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted style=" style="background-color:black ; color:white;">
        <div class="container">
            <img src="@Url.Content("~/images/Footer.jpeg")" width="80" height="80" class="img-fluid">
            &copy; 2023 - RecycleDevices - <a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
</html>
