@model RecycleDevices.Models.loggin

@{
    ViewData["Title"] = "Inter_email";
}
<h1>Inicia secion en tu cuenta de google</h1>
<a href="https://www.google.com/intl/es-419/gmail/about/">Iniciar secion</a>