@{
    ViewData["Title"] = "Apointments";
}

<div class="text-capitalize">
    <h1 class="display-5">Citas</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>

    <button class="btn btn-dark">+ Solicitar nueva cita</button>
    <button class="btn btn-secondary">Cancelar una cita</button>
    <br><br>
</div>

<div>
    <form asp-action="Create">
        <label for="departamento">Departamento:</label>
        <input type="text" id="departamento" name="departamento">

        <label for="ciudad">Ciudad:</label>
        <input type="text" id="ciudad" name="ciudad">

        <label for="pais">País:</label>
        <input type="text" id="pais" name="pais">

        <label for="direccion">Direccion:</label>
        <input type="text" id="direccion" name="direccion"><br>
        <br>
        <button class="btn btn-dark">+ Agregar Dispositivo</button>
        <br>

        <label for="descripcion">Descripción:</label><br>
        <textarea id="descripcion" name="descripcion" rows="4" cols="50"></textarea>
        <label for="categoria">Seleccione la Categoria :</label>
        <input type="search" id="categoria" name="categoria"><br>
        <br>

        <button class="btn btn-dark">+ Agendar Cita</button>
    </form>
</div>


<hr>

<div class="text-capitalize">
    <h1 class="display-5">Citas Agendadas</h1>


    <label for="fecha">Fecha/Hora:</label>
    <input type="text" id="fecha" name="fecha">

    <label for="direccion">Dirección:</label>
    <input type="text" id="direccion" name="direccion">

    <button class="btn btn-dark">+ Ver Descripcion</button>
    <button class="btn btn-dark">+ Pendiente</button>

</div>