
@{
    ViewData["Title"] = "Tips de Prevencion";
}
<h1 class="text-center">TIPS DE PREVENCIÓN</h1>
<div class="container container-tip">
                <p>
                    En Recycle Devices queremos ayudarte a prevenir posibles daños tempranos en tus equipos electricos y electronicos es por
                    esto que a continuació te mostramos una breve informacion pero esencial para poder cuidar y alargar la vida util de tus
                    dispositivos
                </p>
</div>
<br />
<body>
<div class="container">
    <div class="row ">
        <div class="col-md-6 ">
            <img src="@Url.Content("~/images/Tips.jpg")" class="img-fluid float-start me-3" alt="Imagen">
        </div>
        <div class="col-md-6 text-justify" style="text-align:justify; margin: 0;">
            <p class="float-end ">
                En la actualidad, la tecnología avanza a pasos agigantados, lo que hace que nuestros dispositivos electrónicos se vuelvan
                obsoletos rápidamente. Muchas personas tienden a desecharlos y reemplazarlos con nuevos modelos, sin tener en cuenta las
                graves consecuencias que esto puede tener para el medio ambiente y para nuestra economía personal. Sin embargo, si tomamos
                medidas para cuidar y prolongar la vida útil de nuestros dispositivos, podemos contribuir a reducir la cantidad de residuos
                electrónicos y, al mismo tiempo, ahorrar dinero y recursos. ¡Cuidar nuestros dispositivos es una responsabilidad que todos
                debemos tomar en serio!
             <br />
             <br />
                A continuación de presentamos una serie de consejos para cuidar tus dispositivos de acuerdo a las categorias en las que se 
                clasifican los RAEE:
            </p>
        </div>
    </div>
    <br />
</div>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h4 class="mb-0">
                        Equipos de informática y telecomunicaciones
                </h4>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body ">
                        <ul>
                            <li>Evita colocar los equipos cerca de fuentes de calor como radiadores o ventanas expuestas al sol.</li>
                            <li>Usa un protector de voltaje para evitar que los equipos se dañen en caso de una subida o bajada de voltaje.</li>
                            <li>Mantén los equipos limpios, tanto por fuera como por dentro, para evitar que el polvo y la suciedad acumulados afecten su rendimiento.</li>
                            <li>No desconectes bruscamente los equipos, sino que primero debes cerrar los programas y apagar el equipo de forma correcta.</li>
                            <li>Utiliza programas antivirus y antimalware para proteger tus equipos de posibles infecciones por virus y malware.</li>
                            <li>No sobrecargues los equipos con archivos o programas que no necesites para evitar un rendimiento lento y una posible falla del equipo.</li>
                        </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h4 class="mb-0 ">
                      Grandes electrodomesticos
                </h4>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li>Limpia regularmente: Mantener tus electrodomésticos limpios no solo es importante para su aspecto,
                            sino que también ayuda a prevenir el desgaste y prolonga su vida útil.
                            Usa productos adecuados y sigue las instrucciones del fabricante.</li>
                        <li>Revisa las conexiones eléctricas: Las conexiones eléctricas pueden desgastarse 
                            con el tiempo y causar cortocircuitos o incluso incendios. </li>
                        <li>Controla la temperatura</li>
                        <li>No sobrecargues los electrodomésticos: Algunos electrodomésticos, como la lavadora, pueden sufrir daños si se sobrecargan con demasiada ropa.
                            Asegúrate de seguir las instrucciones del fabricante para evitar dañar tus electrodomésticos.</li>
                        <li>Haz un mantenimiento regular: Aunque los electrodomésticos pueden parecer funcionar correctamente, pueden haber problemas internos que no se ven a simple vista.
                            Haz un mantenimiento regular</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h4 class="mb-0">
                  Herramientas eléctricas y electrónicas
                  </h4>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li>Realiza mantenimiento preventivo de las herramientas para evitar fallas y prolongar su vida útil.</li>
                        <li>Limpia las herramientas regularmente para evitar acumulación de polvo y suciedad.</li>
                        <li>Utiliza herramientas adecuadas para cada trabajo, evitando forzarlas más allá de sus capacidades.</li>
                        <li>No dejes las herramientas en lugares expuestos a altas temperaturas o humedad.</li>
                    </ul>
                </div>
            </div>
        </div>
         <div class="card">
            <div class="card-header" id="headingOne">
                <h4 class="mb-0">
                      Equipos electrónicos de consumo
                </h4>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li>Realiza limpieza regular de los equipos para evitar acumulación de suciedad.</li>
                        <li>Utiliza software de protección para evitar virus y malware en los equipos.</li>
                        <li>No dejes los equipos en lugares expuestos a altas temperaturas o humedad.</li>
                        <li>Desconecta los equipos cuando no los estés utilizando para ahorrar energía.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h4 class="mb-0">
                        Pequeños electrodomésticos
                </h4>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li>Realiza limpieza regular de los equipos para evitar acumulación de suciedad.</li>
                        <li>Revisa las conexiones eléctricas y asegúrate de que estén en buen estado.</li>
                        <li>No dejes los equipos en lugares expuestos a altas temperaturas o humedad.</li>
                        <li>No utilices los electrodomésticos cerca de agua o líquidos.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h4 class="mb-0">
                   Juguetes, equipos deportivos y de ocio
                </h4>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li>Realiza limpieza regular de los equipos para evitar acumulación de suciedad.</li>
                        <li>Revisa las conexiones eléctricas y asegúrate de que estén en buen estado.</li>
                        <li>
                            Evita sobrecargar los equipos con exceso de peso o volumen.
                        </li>
                        <li>No dejes los equipos en lugares expuestos a altas temperaturas o humedad.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>